<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    <!-- Посилання на файли стилів та JavaScript Bootstrap -->
    <link rel="icon" href="https://png.pngtree.com/png-vector/20191027/ourlarge/pngtree-justice-scales-lawyer-logo-scales-of-justice-sign-icon-court-of-png-image_1885621.jpg" type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% block head %}
    {% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-bottom:40px;">
        <a class="navbar-brand" href="{% url 'home' %}">Адвокат</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">Головна</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'lawyers' %}">Юристи</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'posts' %}">Публікації</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'services' %}">Послуги</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'certificates' %}">Сертифікати</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'tv' %}">Телепередача</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'memo' %}">Клієнту</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contacts' %}">Контакти</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        {% block body %}
    {% endblock %}
    </div>

<footer class="w3-container w3-padding-32 w3-light-grey w3-center">
  <h4>Footer</h4>
  <a href="#" class="w3-button w3-black w3-margin"><i class="fa fa-arrow-up w3-margin-right"></i>Наверх</a>
  <div class="w3-xlarge w3-section">
    <a href="https://www.youtube.com/"><i class="fa fa-facebook-official w3-hover-opacity"></i></a>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
  </div>

</footer>

</body>
</html>
