{% extends 'main/base.html' %}
{% block title %}Послуги{% endblock %}
{% block body %}
<div class="container mt-5">
    <div class="row">
        {% for service in services %}
        <div class="col-md-12 mb-4">
            <div class="service">
                <div class="service-info">
                    <h3>{{ service.title }}</h3>
                    <p>{{ service.short }}</p>
                </div>
                <div class="service-description">
                    <p>{{ service.summary }}</p>
                    <!-- Основна інформація про послугу, яку можна додати тут -->
                </div>
                <hr>
            </div>
        </div>

        {% endfor %}
    </div>
</div>
{% endblock %}
