{% extends 'main/base.html' %}
{% block body %}
<div class="container">
    <div class="row">
        {% for tv_show in tv_shows %}
        <div class="col-md-6" > <!-- Збільшення розміру карточок на половину екрану -->
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">{{ tv_show.title }}</h5>
                    <p class="card-text">{{ tv_show.short }}</p>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="{{ tv_show.video }}"></iframe>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
