{% extends 'main/base.html' %}
{% block title %}Телепередачі{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        {% for video_data in tv_shows %}
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">{{ video_data.title }}</h5>
                    <p class="card-text">{{ video_data.short }}</p>  <!-- Добавление short -->
                    <p class="card-text">{{ video_data.description }}</p>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ video_data.video }}" title="{{ video_data.title }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
